@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @model IEnumerable<Pie>
 *@
<div class="col">
    <div class="card pie-card">
        <img src="@Model.ImageThumbnailUrl" class="card-img-top rounded-3 img-fluid" alt="Model.Name">
        <div class="card-body pie-button">
            <h4 class="d-grid">
            </h4>

            <div class="d-flex justify-content-between mt-2">
                <h2 class="text-start">
                    <a asp-controller="pie" asp-action="details" asp-route-id="@Model.PieId" class="pie-link">@Model.Name</a>
                </h2>
               @*  <h5 class="text-nowrap">
                    @Model.Price.ToString("c", CultureInfo.CreateSpecificCulture("ar-SA"))
                </h5> *@
            </div>
            <h4 class="d-grid">
  
                <a class="btn btn-org text-white pie-link" asp-controller="pie" asp-action="details" asp-route-id="@Model.PieId" style="background-color: #0000ff;">Details</a>

@*                 <a class="btn btn-org text-white" asp-controller="pie" asp-action="details" asp-route-id="@Model.PieId" class="pie-link">Deatils</a>
 *@           
</h4>
        </div>
    </div>
</div>


@* <a class="btn btn-danger"
   asp-controller="Pie"
   asp-action="Delete"
   asp-route-pieId="@Model.PieId">Delete</a> *@

@* 
                <a class="text-primary" asp-controller="Pie" asp-action="Details" asp-route-id="@pie.PieId"><i class="fa fa-eye"></i></a>
*@